<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Dashboard</title>

    <!-- msal.js with a fallback to backup CDN -->
    <script type="text/javascript" src="https://alcdn.msauth.net/lib/1.2.1/js/msal.js" integrity="sha384-9TV1245fz+BaI+VvCjMYL0YDMElLBwNS84v3mY57pXNOt6xcUYch2QLImaTahcOP" crossorigin="anonymous"></script>
    <script type="text/javascript">
        if (typeof Msal === 'undefined') document.write(unescape("%3Cscript src='https://alcdn.msftauth.net/lib/1.2.1/js/msal.js' type='text/javascript' integrity='sha384-m/3NDUcz4krpIIiHgpeO0O8uxSghb+lfBTngquAo2Zuy2fEF+YgFeP08PWFo5FiJ' crossorigin='anonymous'%3E%3C/script%3E"));
    </script>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        
        a {
            cursor: pointer;
        }
        
        .a {
            display: inline-block;
            width: 200px;
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="/dashboard.css" rel="stylesheet">
</head>

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Practee Technologies</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" id="signOut" onclick="signOut()">Sign out</a>
            </li>
        </ul>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-2">
                <div id="sidebarMenu" class="d-inline-block bg-light sidebar collapse">
                    <div class="position-sticky pt-3">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">
                  Dashboard
                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" onclick="homePage()">
                                    <span data-feather="home"></span> Home Page
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" onclick="studentProf()">
                                    <span data-feather="users"></span> Student Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" onclick="sessionDet()">
                                    <span data-feather="file"></span> Session Details
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-lg-10" id="home">
                <div id="homedata">
                    <div style="text-align: center;" class="mt-3"> Welcome <span style="font-weight: 700; font-size: 20px; color:#d17605;">
              <%= data.name %> !
            </span></div>
                    <hr style="color:sienna">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <% let curr=new Date; %>
                                <% let week=[]; %>
                                    <% for (let i=1; i <=7; i++) { %>
                                        <% let first=curr.getDate() - curr.getDay() + i ; %>
                                            <% let day=new Date(curr.setDate(first)).toLocaleString(); %>
                                                <% day=day.split(',')[0] %>
                                                    <% week.push(day); %>
                                                        <% } %>
                                                            <h3 class="text-info">This Week</h3>
                                                            <h6 class="text-muted">
                                                                <%= week[0] %> to
                                                                    <%= week[6] %>
                                                            </h6>
                        </div>
                    </div>
                    <hr style="color:sienna">
                    <div class="row">
                        <div class="col-lg-4 border-right text-center">
                            <h3 class="text-info"><span id="psc">loading...</span></h3>
                            <h6 class="text-muted">Paid Students</h6>
                        </div>
                        <div class="col-lg-4 border-right text-center">
                            <h3 class="text-info"><span id="fsc">loading...</span></h3>
                            <h6 class="text-muted">Free Students</h6>
                        </div>
                        <div class="col-lg-4 text-center">
                            <h3 class="text-info"><span id="tsc">loading...</span></h3>
                            <h6 class="text-muted">Total Students</h6>
                        </div>
                    </div>
                    <hr style="color:sienna">
                    <div class="card text-center">
                        <div class="card-header">
                            <h6 style="margin: 0% ; font-weight: 700; font-size: 18px; color:#d17605;">Session Notes</h6>
                        </div>
                        <div class="card-body">
                            <div class="my-0 table-responsive table table-striped">
                                <table class="table">
                                    <thead class="table-dark">
                                        <th>Start Time</th>
                                        <th>Student's Name</th>
                                        <th>Student's Contact No</th>
                                        <th>Student's Email</th>
                                        <th>Course</th>
                                        <th>Session Link</th>
                                        <th>Note</th>
                                    </thead>
                                    <tbody id="addNote">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="exapmleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel" style="color: #e20f0f;">Enter Note:</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form action="/addnote" class="d-none" method="POST" id="addNoteForm">
                                        <input type="hidden" name="teacherNumber" id="teacherNumber">
                                        <input type="hidden" name="studentNumber" id="studentNumber">
                                        <input type="hidden" name="sessionStartTime" id="sessionStartTime">
                                        <div class="form-group row">
                                            <label for="noteValue" class="col-sm-3">Enter Note:</label>
                                            <textarea name="noteValue" class="col-sm-8" id="noteValue" cols="20" rows="5"></textarea>
                                        </div>
                                        <div class="form-group row">
                                            <button type="submit" class="btn btn-primary mx-auto">Submit</button>
                                        </div>
                                    </form>
                                    <div id="viewNoteData" class="d-none">

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="subsi btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <script>
                        var st_d = '<%- JSON.stringify(st_d) %>'
                        var t_d = '<%- JSON.stringify(t_d) %>'
                        var d = '<%- JSON.stringify(data) %>'
                        var n_d = '<%- JSON.stringify(n_d) %>'
                        var week = '<%- week %>'
                    </script>
                </div>

            </div>

            <div class="col-md-9 col-lg-10 d-none" id="profile">
                <div>
                    <button class="btn btn-primary mt-3 mx-auto px-5" data-toggle="modal" data-target="#myModal" id="stuFormBtn" style="color: white; font-weight: 700; display: block;" onclick="stuForm()">Add a Student</button>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel" style="color: #e20f0f;">Enter details:</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form action="/pstudent" method="POST">
                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-3 col-form-label">studentSNo <span style="color: red;">*</span> :</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="studentSNo" name="studentSNo" placeholder="Enter The Student Sl No">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-3 col-form-label">Name <span style="color: red;">*</span> :</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="name" placeholder="Enter Name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-3 col-form-label">moodleUN :</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="moodleUN" placeholder="Enter Moodle User Name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-3 col-form-label">courseType <span style="color: red;">*</span> :</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="courseType" placeholder="Enter Course Name">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-3 col-form-label">Phone No <span style="color: red;">*</span> :</label>
                                            <div class="col-sm-9">
                                                <input type="tel" class="form-control" name="phoneNo" placeholder="Enter Phone Number">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-3 col-form-label">Email <span style="color: red;">*</span> :</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" name="email" placeholder="Enter Email Address">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-3 col-form-label">classSD <span style="color: red;">*</span> :</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="classSD" placeholder="Enter Class Starting Date">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-3 col-form-label">classED <span style="color: red;">*</span> :</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="classED" placeholder="Enter Class End Date">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-3 col-form-label">firstAmount <span style="color: red;">*</span> :</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" name="firstAmount" placeholder="Enter The First Amount">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-3 col-form-label">secondAmount <span style="color: red;">*</span> :</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" name="secondAmount" placeholder="Enter The Second Amount">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-3 col-form-label">remainingAmount <span style="color: red;">*</span> :</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" name="remainingAmount" placeholder="Enter The Remaining Amount">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-3 col-form-label">RenewalD <span style="color: red;">*</span> :</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="RenewalD" placeholder="Enter The Renewal Date">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-3 col-form-label">qualification <span style="color: red;">*</span> :</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="qualification" placeholder="Enter Qualification">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-3 col-form-label">bandScore <span style="color: red;">*</span> :</label>
                                            <div class="col-sm-9">
                                                <input type="number" class="form-control" name="bandScore" placeholder="Enter The Band Score">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="colFormLabel" class="col-sm-3 col-form-label">location <span style="color: red;">*</span> :</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="location" placeholder="Enter The Location">
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="subsi btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-center mt-3">
                    <div class="card-header">
                        <h6 style="margin: 0% ; font-weight: 700; font-size: 18px; color:#d17605;">Session Notes</h6>
                    </div>
                    <div class="card-body">
                        <div class="my-0 table-responsive table table-striped">
                            <table class="table">
                                <thead class="table-dark">
                                    <th>Name</th>
                                    <th>Phone Number</th>
                                    <th>Email</th>
                                    <th>Course Type</th>
                                    <th>Profile</th>
                                </thead>
                                <tbody id="profdata">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="fullProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel1" style="color: #e20f0f;">Enter details:</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div id="profcont">

                                </div>
                                <hr>
                                <form action="/deleteS" method="POST">
                                    <input type="hidden" name="stdPhn" id="stdPhn">
                                    <button type="submit" style="display: block;" class="btn btn-primary mx-auto"> Delete </button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="subsi btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-lg-10 d-none" id="session">
                <div class="container mt-2 text-center">
                    <label for="sdatePick">Choose your start date:</label>
                    <input type="date" name="datePick" id="sdatePick"><br>
                    <label for="edatePick">Choose your end date:</label>
                    <input type="date" name="datePick" id="edatePick"><br>
                    <button type="submit" onclick="date_result()">Submit</button>
                </div>
                <div id="table_div" class="d-none">
                    <table border="1" class="mt-3 mb-3">
                        <tr>
                            <th>Sl. No.</th>
                            <th>Start Time</th>
                            <th>Student's Name</th>
                            <th>Student's Contact No</th>
                            <th>Student's Email</th>
                            <th>Course</th>
                            <th>Session Link</th>
                        </tr>
                        <tbody id="table_data"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- importing app scripts (load order is important) -->
    <script type="text/javascript" src="/authConfig.js"></script>
    <script type="text/javascript" src="/graphConfig.js"></script>
    <script type="text/javascript" src="/ui.js"></script>

    <!-- replace next line with authRedirect.js if you would like to use the redirect flow -->
    <!-- <script type="text/javascript" src="./authRedirect.js"></script>   -->
    <script type="text/javascript" src="/authPopup.js"></script>
    <script type="text/javascript" src="/graph.js"></script>

    <!-- manual script -->
    <script type="text/javascript" src="/edit.js"></script>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="dashboard.js"></script>
</body>

</html>